<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.wolf.carmanager.persist.CarMapper">


    <sql id="columns">
        id,
            chePai ,
            cheZhu,
            dianHua ,
            chePingPai,
            cheXinHao,
            faDongJi ,
            cheJiaHao,
        dengJiRQ,
        baoXianRQ,
        shenFengZheng,
        diZhi
    </sql>

    <select id="selectCars" parameterType="org.wolf.carmanager.PageQueryParam"
            resultType="org.wolf.carmanager.model.CarPO">
        <bind name="bind_chePai" value="'%' + param.getChePai() + '%'"/>
        <bind name="bind_cheZhu" value="'%' + param.getCheZhu() + '%'"/>
        <bind name="bind_dianHua" value="'%' + param.getDianHua() + '%'"/>
        <bind name="bind_chePingPai" value="'%' + param.getChePingPai() + '%'"/>
        <bind name="bind_cheXinHao" value="'%' + param.getCheXinHao() + '%'"/>
        <bind name="bind_faDongJi" value="'%' + param.getFaDongJi() + '%'"/>
        <bind name="bind_cheJiaHao" value="'%' + param.getCheJiaHao() + '%'"/>
        <bind name="bind_shenFengZheng" value="'%' + param.getShenFengZheng() + '%'"/>
        <bind name="bind_diZhi" value="'%' + param.getDiZhi() + '%'"/>
        <!--<bind name="bind_dengJiRQS" value="'%' + param.getDengJiRQS() + '%'"/>-->
        <bind name="bind_dengJiRQE" value="param.getDengJiRQE() + '  23:59:59'"/>
        <!--<bind name="bind_baoXianRQS" value="'%' + param.getBaoXianRQS() + '%'"/>-->
        <bind name="bind_baoXianRQE" value="param.getBaoXianRQE() + '  23:59:59'"/>

        select * from car where 1=1
        <if test="param.chePai != null and param.chePai != ''">AND chePai LIKE #{bind_chePai}</if>
        <if test="param.cheZhu != null and param.cheZhu != ''">AND cheZhu LIKE #{bind_cheZhu}</if>
        <if test="param.dianHua != null and param.dianHua != ''">AND dianHua LIKE #{bind_dianHua}</if>
        <if test="param.chePingPai != null and param.chePingPai != ''">AND chePingPai LIKE #{bind_chePingPai}</if>
        <if test="param.cheXinHao != null and param.cheXinHao != ''">AND cheXinHao LIKE #{bind_cheXinHao}</if>
        <if test="param.faDongJi != null and param.faDongJi != ''">AND faDongJi LIKE #{bind_faDongJi}</if>
        <if test="param.cheJiaHao != null and param.cheJiaHao != ''">AND cheJiaHao LIKE #{bind_cheJiaHao}</if>
        <if test="param.shenFengZheng != null and param.shenFengZheng != ''">AND shenFengZheng LIKE #{bind_shenFengZheng}</if>
        <if test="param.diZhi != null and param.diZhi != ''">and diZhi LIKE #{bind_diZhi}</if>
        <if test="param.dengJiRQS != null and param.dengJiRQS != ''">
            and dengJiRQ >= #{param.dengJiRQS}
        </if>
        <if test="param.dengJiRQE != null and param.dengJiRQE != ''">
            <![CDATA[
            and dengJiRQ <= #{bind_dengJiRQE}
            ]]>
        </if>
        <if test="param.baoXianRQS != null and param.baoXianRQS != ''">
            and baoXianRQ >= #{param.baoXianRQS}
        </if>
        <if test="param.baoXianRQE != null and param.baoXianRQE != ''">
            <![CDATA[
            and baoXianRQ <= #{bind_baoXianRQE}
            ]]>
        </if>

        <!--ORDER BY ${sortInfo}-->
        limit #{iDisplayStart}, #{iDisplayLength}
    </select>

    <select id="countCars" parameterType="org.wolf.carmanager.PageQueryParam" resultType="int">
        <bind name="bind_chePai" value="'%' + param.getChePai() + '%'"/>
        <bind name="bind_cheZhu" value="'%' + param.getCheZhu() + '%'"/>
        <bind name="bind_dianHua" value="'%' + param.getDianHua() + '%'"/>
        <bind name="bind_chePingPai" value="'%' + param.getChePingPai() + '%'"/>
        <bind name="bind_cheXinHao" value="'%' + param.getCheXinHao() + '%'"/>
        <bind name="bind_faDongJi" value="'%' + param.getFaDongJi() + '%'"/>
        <bind name="bind_cheJiaHao" value="'%' + param.getCheJiaHao() + '%'"/>
        <bind name="bind_shenFengZheng" value="'%' + param.getShenFengZheng() + '%'"/>
        <bind name="bind_diZhi" value="'%' + param.getDiZhi() + '%'"/>
        <!--<bind name="bind_dengJiRQS" value="'%' + param.getDengJiRQS() + '%'"/>-->
        <bind name="bind_dengJiRQE" value="param.getDengJiRQE() + '  23:59:59'"/>
        <!--<bind name="bind_baoXianRQS" value="'%' + param.getBaoXianRQS() + '%'"/>-->
        <bind name="bind_baoXianRQE" value="param.getBaoXianRQE() + '  23:59:59'"/>

        SELECT COUNT(*) FROM car where 1=1
        <if test="param.chePai != null and param.chePai != ''">AND chePai LIKE #{bind_chePai}</if>
        <if test="param.cheZhu != null and param.cheZhu != ''">AND cheZhu LIKE #{bind_cheZhu}</if>
        <if test="param.dianHua != null and param.dianHua != ''">AND dianHua LIKE #{bind_dianHua}</if>
        <if test="param.chePingPai != null and param.chePingPai != ''">AND chePingPai LIKE #{bind_chePingPai}</if>
        <if test="param.cheXinHao != null and param.cheXinHao != ''">AND cheXinHao LIKE #{bind_cheXinHao}</if>
        <if test="param.faDongJi != null and param.faDongJi != ''">AND faDongJi LIKE #{bind_faDongJi}</if>
        <if test="param.cheJiaHao != null and param.cheJiaHao != ''">AND cheJiaHao LIKE #{bind_cheJiaHao}</if>
        <if test="param.shenFengZheng != null and param.shenFengZheng != ''">AND shenFengZheng LIKE
            #{bind_shenFengZheng}
        </if>
        <if test="param.diZhi != null and param.diZhi != ''">AND diZhi LIKE #{bind_diZhi}</if>
        <if test="param.dengJiRQS != null and param.dengJiRQS != ''">
            and dengJiRQ >= #{param.dengJiRQS}
        </if>
        <if test="param.dengJiRQE != null and param.dengJiRQE != ''">
            <![CDATA[
            and dengJiRQ <= #{bind_dengJiRQE}
            ]]>
        </if>
        <if test="param.baoXianRQS != null and param.baoXianRQS != ''">
            and baoXianRQ >= #{param.baoXianRQS}
        </if>
        <if test="param.baoXianRQE != null and param.baoXianRQE != ''">
            <![CDATA[
            and baoXianRQ <= #{bind_baoXianRQE}
            ]]>
        </if>
    </select>


    <select id="selectAll" resultType="org.wolf.carmanager.model.CarPO">
        select
        <include refid="columns"/>
        from car limit 10, 5
    </select>

    <insert id="adCar" parameterType="org.wolf.carmanager.model.CarPO">
        insert into car(chePai, cheZhu, dianHua, chePingPai, cheXinHao, faDongJi, cheJiaHao,
        dengJiRQ, baoXianRQ, shenFengZheng, diZhi )
        values (#{chePai,jdbcType=VARCHAR}, #{cheZhu,jdbcType=VARCHAR}, #{dianHua,jdbcType=VARCHAR},
            #{chePingPai,jdbcType=VARCHAR}, #{cheXinHao,jdbcType=VARCHAR}, #{faDongJi,jdbcType=VARCHAR}, #{cheJiaHao,jdbcType=VARCHAR}
        , #{dengJiRQ,jdbcType=TIMESTAMP}, #{baoXianRQ,jdbcType=TIMESTAMP}, #{shenFengZheng,jdbcType=VARCHAR},
        #{diZhi,jdbcType=VARCHAR} )
    </insert>

    <insert id="insertBatch" parameterType="list">
        insert into car (chePai, cheZhu, dianHua, chePingPai, cheXinHao, faDongJi, cheJiaHao,
        dengJiRQ, baoXianRQ, shenFengZheng, diZhi )
        values
        <foreach collection="list" item="poi" index="index" separator=",">
            (#{poi.chePai,jdbcType=VARCHAR}, #{poi.cheZhu,jdbcType=VARCHAR}, #{poi.dianHua,jdbcType=VARCHAR},
            #{poi.chePingPai,jdbcType=VARCHAR}, #{poi.cheXinHao,jdbcType=VARCHAR}, #{poi.faDongJi,jdbcType=VARCHAR},
            #{poi.cheJiaHao,jdbcType=VARCHAR}, #{poi.dengJiRQ,jdbcType=TIMESTAMP}, #{poi.baoXianRQ,jdbcType=TIMESTAMP},
            #{poi.shenFengZheng,jdbcType=VARCHAR},
            #{poi.diZhi,jdbcType=VARCHAR} )
        </foreach>
    </insert>

</mapper>