<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd ">


    <!-- mysql jdbc 配置 -->
    <bean id="mysqlDataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${mysql.jdbc.driverClassName}"></property>
        <property name="url" value="${mysql.jdbc.url}"></property>
        <property name="username" value="${mysql.jdbc.username}"></property>
        <property name="password" value="${mysql.jdbc.password}"></property>
        <property name="initialSize" value="${mysql.initialSize}" />
        <property name="maxIdle" value="${mysql.maxIdle}"></property>
        <property name="maxActive" value="${mysql.maxActive}"></property>
        <property name="minIdle" value="${mysql.minIdle}"></property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          scope="singleton">
        <property name="dataSource" ref="mysqlDataSource"/>
        <property name="typeAliasesPackage" value="org.wolf.carmanager.model"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.wolf.carmanager.persist" />
    </bean>



    <!-- transaction manager, use JtaTransactionManager for global tx -->
    <!--<tx:annotation-driven transaction-manager="transactionManager"-->
                          <!--proxy-target-class="true" />-->
    <!--<bean id="transactionManager"-->
          <!--class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
        <!--<property name="dataSource" ref="mysqlDataSource" />-->
    <!--</bean>-->



</beans>